<%= render 'shared/content_title', title: @project.name %>
<p class="lead text-center mb-5">
  Description:
  <%= @project.description %>
</p>

<div class="card-columns">
  <% @tickets.each do |ticket| %>
    <div class="card bg-light mb-3">
      <h5 class="card-header"><%= ticket.name %></h5>
      <div class="card-body">
        <p class="card-text"><%= ticket.body %></p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated <%= ticket.updated_at%></small>
      </div>
    </div>
  <% end %>
</div>
